<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2593f140b1.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
    <section class="contenedor-logo-busqueda">
        <!-- LOGO -->
                    <div class="logo-busqueda-box">
                        <div class="Logo-contenedor">
                            <div class="LOGO">
                                <img  alt="Logo ML" src="/images/logo-mercado-liebre.svg">
                            </div>
                        </div>

                        <!-- BUSQUEDA-->
                        <div class="buscador">
                            <input class="search" type="search">
                            <button class="boton-buscar"><a><i class="fas fa-search"></i></a></button>
                        </div>
                    </div>
        <!-- ICONO  CUOTAS-->
                        <div class="ico-y-cuotas"><i class="fas fa-hand-holding-usd"> Comprá en cuotas y sin tarjeta de crédito</i>
                        </div>
                </section>
        
        <!-- BARRA DE NAVEGACION -->
        <nav class="nav-header">
            <ul class="nav-left">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        
            <ul class="nav-right">
                <li><a href="/registracion"><i class="fas fa-id-card"></i>Creá tu cuentas</a></li>
                <li><a href=""><i class="fas fa-shopping-cart"></i>Mis Compras</a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Ingresá</a></li>
            </ul>
        </nav>
        <!-- HAMBURGUESA -->
        <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
        </header>
            
            <main>
            <!-- Seccion 1 -->
                <h2>Basado en tu Última Visita</h2> 
                <section class="seccion-articulos">
        
                        <article class="articulos">
                            <div class="articulos-indiv">
                                <div class="img-box">
                                    <img src="/images/img-cafetera-moulinex.jpg" alt="CAFETERA">
                                </div>                      
                                <div  class="caja-descripcion-art">
                                    <div class="shipping-contenedor"><em class="fas fa-truck"></em></div>
                                    <div class="caja-precio-oferta">
                                        <p class="price">$6770</p>
                                        <p class="discount">40% OFF</p>
                                    </div>
                                <p class="description">Cafetera Moulinex</p>
                                </div>
                            </div>           
                        </article>
        
                        <article class="articulos">
                            <div class="articulos-indiv">
                                <div class="img-box">
                                    <img src="/images/img-macbook-pro-2019.jpg" alt="MAC">
                                </div>
                                <div class="caja-descripcion-art">
                                    <div class="shipping-contenedor"><em class="fas fa-truck"></em></div>
                                    <div class="caja-precio-oferta">
                                        <p class="price">$230000</p>
                                        <p class="discount">20% OFF</p>
                                    </div>
                                <p class="description">MacBook PRO 2019</p>
                                </div>
                            </div>
                        </article>
        
                        <article class="articulos">
                            <div class="articulos-indiv">
                                <div class="img-box">
                                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="SAMSUNG">
                                </div>
                                <div class="caja-descripcion-art">
                                    <div class="shipping-contenedor"><em class="fas fa-truck"></em></div>
                                    <div class="caja-precio-oferta">
                                        <p class="price">$70500</p>
                                        <p class="discount">10% OFF</p>
                                    </div>
                                <p class="description">Samsung Galaxy S10</p>
                                </div>
                            </div>
                        </article>
        
                        <article class="articulos">
                            <div class="articulos-indiv">
                                <div class="img-box">
                                    <img src="/images/img-tv-samsung-smart.jpg" alt="TV">
                                </div>
                                <div class="caja-descripcion-art">
                                    <div class="shipping-contenedor"><em class="fas fa-truck"></em></div>
                                    <div class="caja-precio-oferta">
                                        <p class="price">$23200</p>
                                        <p class="discount">5% OFF</p>
                                    </div>
                                <p class="description">SmartTv Samsung 43"</p>
                                </div>
                            </div>
                        </article>
                        <!--  05468798465498746987496814 -->
                        
        
                    </section>
            <!-- Seccion 2 -->
                <h2 class="ofertas">Ofertas</h2>
        
                <section class="seccion-articulos">
        
                    <article class="articulos">
                        <div class="articulos-indiv">
                            <div class="img-box">
                                <img src="/images/img-cafetera-moulinex.jpg" alt="CAFETERA">
                            </div>                      
                            <div  class="caja-descripcion-art">
                                <div class="shipping-contenedor"><em class="fas fa-truck"></em></div>
                                <div class="caja-precio-oferta">
                                    <p class="price">$6770</p>
                                    <p class="discount">40% OFF</p>
                                </div>
                            <p class="description">Cafetera Moulinex</p>
                            </div>
                        </div>           
                    </article>
        
                    <article class="articulos">
                        <div class="articulos-indiv">
                            <div class="img-box">
                                <img src="/images/img-macbook-pro-2019.jpg" alt="MAC">
                            </div>
                            <div class="caja-descripcion-art">
                                <div class="shipping-contenedor"><em class="fas fa-truck"></em></div>
                                <div class="caja-precio-oferta">
                                    <p class="price">$230000</p>
                                    <p class="discount">20% OFF</p>
                                </div>
                            <p class="description">MacBook PRO 2019</p>
                            </div>
                        </div>
                    </article>
        
                    <article class="articulos">
                        <div class="articulos-indiv">
                            <div class="img-box">
                                <img src="/images/img-samsung-galaxy-s10.jpg" alt="SAMSUNG">
                            </div>
                            <div class="caja-descripcion-art">
                                <div class="shipping-contenedor"><em class="fas fa-truck"></em></div>
                                <div class="caja-precio-oferta">
                                    <p class="price">$70500</p>
                                    <p class="discount">10% OFF</p>
                                </div>
                            <p class="description">Samsung Galaxy S10</p>
                            </div>
                        </div>
                    </article>
        
                    <article class="articulos">
                        <div class="articulos-indiv">
                            <div class="img-box">
                                <img src="/images/img-tv-samsung-smart.jpg" alt="TV">
                            </div>
                            <div class="caja-descripcion-art">
                                <div class="shipping-contenedor"><em class="fas fa-truck"></em></div>
                                <div class="caja-precio-oferta">
                                    <p class="price">$23200</p>
                                    <p class="discount">5% OFF</p>
                                </div>
                            <p class="description">SmartTv Samsung 43"</p>
                            </div>
                        </div>
                    </article>
                </section>
                
                
                <!-- COPIAR SECCION 1, PERO CON PRECIOS DE OFERTAS -->
            </main>
            
            <footer>
                <!-- Seccion 1 -->
                <section>
                    <div class="contenedor-footer-ico"><i class="fas fa-credit-card ico-footer"></i></div>
                    <h3><strong>Pagá con tarjeta o efectivo</strong></h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <!-- Seccion 2 -->
                <section>
                    <div class="contenedor-footer-ico"><i class="fas fa-gift ico-footer"></i></div>
                    <h3><strong>Envío gratis desde $2500</strong></h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <!-- Seccion 3 -->
                <section>
                    <div class="contenedor-footer-ico"><i class="fas fa-user-shield ico-footer"></i></div>
                    <h3><strong>Seguridad, de principio a fin</strong></h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section>
                <!-- Seccion 4 -->
                <section class="copy">
                    <h2><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h2>
                </section>
            </footer>
</body>
</html>